@model prjCramSchoolSystem.Models.TStudentProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TStudentProfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FEnrollment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FEnrollment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FThumbnailUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FThumbnailUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FParentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FParentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FCreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FCreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FUpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FUpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
