@model IEnumerable<prjCramSchoolSystem.Models.TStudentProfile>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FGender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FBirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FEnrollment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FThumbnailUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FParentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FUpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FBirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FEnrollment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FThumbnailUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FParentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FUpdateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
